<template>
  <section class="editor">
    <!-- BASE -->
    <section ref="editor-base" @click="baseClick" class="editor__base" :style="'background: url(/static/images/Base/big/' + base + '.jpg); background-repeat: repeat; width: '+ width + 'em; height: '+ height + 'em'">

      <!-- template -->
      <img v-if="template.length" :src="template" class="editor__template">

      <!-- spikes -->
      <div
        @click.stop="baseClick"
        v-draggable="{ boundingElement: $refs['editor-base'], onDragEnd: (pos) => moveSpike(spike, pos), drag: tools.move }"
        :class="(tools.move || tools.remove) ? 'editor__spike animated tada' : 'editor__spike editor__spike--freezed animated tada'"
        :key="spike.id" :data-index="spike.id"
        v-for="spike in spikes"
        :style="'background: url(/static/images/nail-head.png) no-repeat; background-size: 100%; top:' + (spike.y * zoomRatio) + 'px; left: ' + (spike.x * zoomRatio) + 'px;'"
      />

      <!-- strings -->
      <div @click.stop="baseClick" v-draggable="{ boundingElement: $refs['editor-base'], onDragEnd: (pos) => moveString(string, pos), drag: tools.move }" class="editor__string animated fadeIn" :key="string.id" :data-index="string.id"  v-for="string in strings" :style="'background-image: url(/static/images/Strings/string--' + string.color + '.png); height: 1px; width: ' + (string.width * zoomRatio)+ 'px; -webkit-transform: rotate(' + string.rotate + 'deg); transform-origin: ' + string.rotateOrigin + '; top: ' + (string.top * zoomRatio) + 'px; left: ' + (string.left * zoomRatio) + 'px;'"></div>

      <!-- logo -->
      <img class="editor__logo" :src="`/static/images/Logos/logo--${presentLogo}.png`" alt="logo">

    </section>

    <!-- toolbox -->
    <section class="editor__toolbox animated fadeInRight">
      <a @click="chooseTool('hammer')" :class="(tools.hammer) ? 'icon-hammer active' : 'icon-hammer'" />
      <a @click="chooseTool('strings')" :class="(tools.strings) ? 'icon-attach active' : 'icon-attach'" />
      <a @click="chooseTool('remove')" :class="(tools.remove) ? 'icon-cancel active' : 'icon-cancel'" />
      <a @click="chooseTool('move')" :class="(tools.move) ? 'icon-move active' : 'icon-move'" />
      <a @click="zoomIn()" class="icon-plus" />
      <a @click="zoomOut()" class="icon-minus" />
    </section>

    <!-- stringbox -->
    <section class="editor__stringbox">
      <image-dropdown :data="stringColors" :defaultVal="presentStringColor" @chosen="presentStringColor = $event"></image-dropdown>
    </section>

    <!-- logobox -->
    <section class="editor__logobox">
      <image-dropdown :data="logos" :defaultVal="presentLogo" @chosen="presentLogo = $event"></image-dropdown>
    </section>

  </section>
</template>

<script>
import { Draggable } from 'draggable-vue-directive'
import ImageDropdown from './utils/ImageDropdown'
import { copyArray, copyObj } from './utils/utils'
import uuid from 'uuid/v1'

export default {
  name: 'Editor',
  props: {
    title: {
      type: String,
      required: true
    },
    width: {
      type: Number,
      required: true
    },
    height: {
      type: Number,
      required: true
    },
    base: {
      type: String,
      required: true
    },
    template: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      baseArray: [
        { id: 'black', src: '/static/images/Base/black.jpg', title: this.$ml.get('baseBlack') },
        { id: 'cherry', src: '/static/images/Base/cherry.jpg', title: this.$ml.get('baseCherry') },
        { id: 'limba--chocolate', src: '/static/images/Base/limba--chocolate.jpg', title: this.$ml.get('baseLimbaCoco') },
        { id: 'oak--antic', src: '/static/images/Base/oak--antic.jpg', title: this.$ml.get('baseOakAntic') },
        { id: 'pine', src: '/static/images/Base/pine.jpg', title: this.$ml.get('basePineWood') },
        { id: 'oak--sonoma', src: '/static/images/Base/oak--sonoma.jpg', title: this.$ml.get('baseOakSonoma') },
        { id: 'rigoletto', src: '/static/images/Base/rigoletto.jpg', title: this.$ml.get('baseRigoletto') },
        { id: 'wenge', src: '/static/images/Base/wenge.jpg', title: this.$ml.get('baseWenge') },
        { id: 'white', src: '/static/images/Base/white.jpg', title: this.$ml.get('baseWhite') }
      ],
      stringColors: [
        { value: 'black', src: '/static/images/Strings/wool--black.jpg' },
        { value: 'white', src: '/static/images/Strings/wool--white.jpg' },
        { value: 'beige', src: '/static/images/Strings/wool--beige.jpg' },
        { value: 'beetroot', src: '/static/images/Strings/wool--beetroot.jpg' },
        { value: 'yellow', src: '/static/images/Strings/wool--yellow.jpg' },
        { value: 'canarian', src: '/static/images/Strings/wool--canarian.jpg' },
        { value: 'pink', src: '/static/images/Strings/wool--pink.jpg' },
        { value: 'lightpink', src: '/static/images/Strings/wool--lightpink.jpg' },
        { value: 'foxy', src: '/static/images/Strings/wool--foxy.jpg' },
        { value: 'brown', src: '/static/images/Strings/wool--brown.jpg' },
        { value: 'lightbrown', src: '/static/images/Strings/wool--lightbrown.jpg' },
        { value: 'cuprum', src: '/static/images/Strings/wool--cuprum.jpg' },
        { value: 'blue', src: '/static/images/Strings/wool--blue.jpg' },
        { value: 'lightblue', src: '/static/images/Strings/wool--lightblue.jpg' },
        { value: 'strongblue', src: '/static/images/Strings/wool--strongblue.jpg' },
        { value: 'purple', src: '/static/images/Strings/wool--purple.jpg' },
        { value: 'mint', src: '/static/images/Strings/wool--mint.jpg' },
        { value: 'green', src: '/static/images/Strings/wool--green.jpg' },
        { value: 'darkgreen', src: '/static/images/Strings/wool--darkgreen.jpg' },
        { value: 'lightgreen', src: '/static/images/Strings/wool--lightgreen.jpg' }
      ],
      logos: [
        { value: 'gold', src: '/static/images/Logos/logo--gold.png' },
        { value: 'silver', src: '/static/images/Logos/logo--silver.png' }
      ],
      baseChosen: '',
      tools: {
        hammer: false,
        strings: false,
        remove: false,
        move: false
      },
      presentTool: '',
      spikes: [],
      strings: [],
      presentString: { },
      presentStringColor: '',
      presentLogo: '',
      zoomRatio: 1,
      lastConf: {}
    }
  },
  methods: {

    /********* update spike position ************/
    moveSpike (el, newPos) {
      this.saveCurrentState()
      el.y = newPos.top / this.zoomRatio
      el.x = newPos.left / this.zoomRatio
      this.spikes.splice(this.spikes.findIndex(item => el.id === item.id), 1)
      this.spikes.push(el)
      this.$forceUpdate()
      this.update()
    },

    /******** update string position ***********/
    moveString (el, newPos) {
      this.saveCurrentState()
      this.strings.splice(this.strings.findIndex(item => el.id === item.id), 1)
      this.strings.push(el)
      el.y = newPos.top
      el.x = newPos.left
      this.$forceUpdate()
      this.update()
    },

    /*********** CHOOSE TOOL ***********/
    chooseTool (tool) {
      if (this.presentTool) this.tools[this.presentTool] = false
      this.tools[tool] = true
      this.presentTool = tool
      if (this.presentTool !== 'strings' && this.presentString.start) this.presentString = {}
    },

    /********** BASE CLICKED ************/
    baseClick (e) {
      let rect = (e.target.classList.contains('editor__base')) ? e.target.getBoundingClientRect() : e.target.parentNode.getBoundingClientRect()
      let x = e.clientX - rect.left //x position within the element.
      let y = e.clientY - rect.top //y position within the element.

      if (this.presentTool === 'hammer') this.useHammer(x, y)
      else if (this.presentTool === 'strings') {
        if (!this.presentString.start) this.presentString.start = { top: y, left: x }
        else {
          this.presentString.end = { top: y, left: x }
          this.useString()
        }
      } else if (this.presentTool === 'remove') this.removeElem(e.target)

      if (this.presentTool !== 'strings' && this.presentString.start) this.presentString = {}
    },

    /********** USE HAMMER ***********/
    useHammer (x, y) {
      this.saveCurrentState()
      this.spikes.push({ id: uuid(), x: (x - 5) / this.zoomRatio, y: (y - 5) / this.zoomRatio })
      this.update()
    },

    /********* USE STRING *********/
    useString () {
      this.saveCurrentState()

      // get points distances
      let xDiff = Math.abs(this.presentString.end.left - this.presentString.start.left)
      let yDiff = Math.abs(this.presentString.end.top - this.presentString.start.top)

      // get string directions
      let xDir = this.presentString.end.left - this.presentString.start.left
      let yDir = this.presentString.end.top - this.presentString.start.top

      //get string width and angle
      let thirdWall = Math.sqrt(xDiff * xDiff + yDiff * yDiff)
      let angle = Math.asin(yDiff / thirdWall) * 180 / Math.PI

      //set proper with with direction
      let stringX = (this.presentString.end.left < this.presentString.start.left) ? this.presentString.end.left : this.presentString.start.left
      let stringY = (this.presentString.end.top < this.presentString.start.top) ? this.presentString.end.top : this.presentString.start.top

      let origin
      let leftPadding = 0

      //set proper origin
      if (xDir > 0 && yDir > 0) {
        origin = 'left top'
      } else if (xDir < 0 && yDir < 0) {
        origin = 'left bottom'
      } else if (xDir > 0 && yDir < 0) {
        angle = -angle
        origin = 'top right'
        leftPadding = thirdWall - Math.sqrt(thirdWall * thirdWall - yDiff * yDiff)
      } else if (xDir < 0 && yDir > 0) {
        angle = -angle
        origin = 'right bottom'
        leftPadding = thirdWall - Math.sqrt(thirdWall * thirdWall - yDiff * yDiff)
      }

      this.strings.push({ id: uuid(), top: stringY / this.zoomRatio, left: (stringX - leftPadding) / this.zoomRatio, leftOld: stringX, width: (thirdWall / this.zoomRatio), rotate: angle, rotateOrigin: origin, color: this.presentStringColor })
      this.presentString = {}
      this.update()
    },

    /********** REMOVE ELEM ***********/
    removeElem (elem) {
      this.saveCurrentState()

      if (elem.classList.contains('editor__spike')) {
        let spikeToRemove = this.spikes.find(spike => spike.id === elem.dataset.index)
        this.spikes.splice(this.spikes.indexOf(spikeToRemove), 1)
      } else if (elem.classList.contains('editor__string')) {
        let stringToRemove = this.strings.find(string => string.id === elem.dataset.index)
        this.strings.splice(this.strings.indexOf(stringToRemove), 1)
      }
      this.update()
    },

    /********* ZOOM **********/
    zoomEditor (value) {
      let presentValue = parseInt(document.documentElement.style.getPropertyValue('--baseFontSize').replace('px', '')) || 37
      let newValue = presentValue + value
      newValue = (newValue > 0) ? newValue : 1
      this.zoomRatio = Math.abs(newValue / 37)
      document.documentElement.style.setProperty('--baseFontSize', newValue + 'px')
    },

    /********* ZOOM IN *********/
    zoomIn () {
      this.zoomEditor(17)
    },

    /********* ZOOM OUT *********/
    zoomOut () {
      this.zoomEditor(-17)
    },

    /******** UPDATE PROJECT DATA **********/
    update () {
      let projectData = {
        title: this.title,
        width: this.width,
        height: this.height,
        base: this.base,
        template: this.template,
        spikes: this.spikes,
        strings: this.strings
      }

      this.$emit('update', projectData)
    },

    /********* REFRESH ITEMS **********/
    refreshItems (data) {
      if (data.spikes) this.spikes = data.spikes
      if (data.strings) this.strings = data.strings
      this.$forceUpdate()
    },

    /********* REDO **********/
    redo (data) {
      if (this.lastConf) {
        Object.keys(this.lastConf).forEach((key, index) => {
          this[key] = this.lastConf[key]
        })
        this.$forceUpdate()
      }
    },

    /********* SAVE CURRENT STATE **********/
    saveCurrentState () {
      this.lastConf = {
        presentTool: this.presentTool,
        spikes: copyArray(this.spikes),
        strings: copyArray(this.strings),
        presentString: copyObj(this.presentString),
        presentStringColor: this.presentStringColor,
        presentLogo: this.presentLogo
      }
    }

  },
  created () {
    this.presentStringColor = this.stringColors[0].value
    this.presentLogo = this.logos[0].value
    this.update()
    window.addEventListener('keydown', (e) => {
      if (e.keyCode === 90 && e.ctrlKey) this.redo()
    })
  },
  directives: {
    Draggable
  },
  components: { ImageDropdown }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">

  @import '@/assets/sass/_variables.scss';

  :root {
    --baseFontSize: 37px;
  }

  .editor {
    width: 100vw;
    height: 100vh;
    font-size: var(--baseFontSize);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0rem;
    overflow: scroll;
    transition: .3s;
  }

  .editor__base {
    border: 2px solid #ccc;
    box-shadow: 0 0 2px rgba(0,0,0,0.7);
    position: relative;
  }

  .editor__toolbox {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: $firstColor;
    display: flex;
  }

  .editor__toolbox a {
    display: block;
    border-right: 1px solid $secondColor;
    width: 2.2rem;
    height: 2.2rem;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
    cursor: pointer;
  }

  .editor__toolbox a.active {
    border-bottom: 2px solid $textColor;
  }

  .editor__toolbox a:last-of-type {
    border: none;
  }

  .editor__toolbox a:hover {
    background: $firstColorHover;
  }

  .editor__stringbox {
    position: fixed;
    top: 2rem;
    right: 2rem;
    background: $firstColor;
    display: flex;
    width: 3rem;
    height: 3rem;
    padding: 0.2rem;
    border-radius: 5px;
    font-size: 0;
  }

  .editor__logobox {
    position: fixed;
    top: 2rem;
    right: 6rem;
    background: $firstColor;
    display: flex;
    width: 3rem;
    height: 3rem;
    padding: 0.2rem;
    border-radius: 5px;
    font-size: 0;
  }

  .editor__spike {
    position: absolute;
    background: url('/static/images/nail-head.png');
    background-size: 100%;
    width: 0.2em;
    height: 0.2em;
    z-index: 2;
    cursor: pointer;
  }

  .editor__spike--freezed {
    pointer-events: none;
  }

  .editor__string {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    position: absolute;
    z-index: 1;
    cursor: pointer;
  }

  .editor__template {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
  }

  .editor__logo {
    position: absolute;
    bottom: 1em;
    right: 1em;
    width: 3.76em;
    pointer-events:none;
  }

</style>
