<template>

    <Prompt :title="$ml.get('newProject')" @exit="$emit('close')" @callbackOk="newProject">

      <!-- incorrect form modal -->
      <modal v-show="errorModal" @close="errorModal = false" :title="$ml.get('incorrectForm')" :body="$ml.get('incorrectFormDesc')" />

      <!-- form -->
      <form class="newproject-form">
        <label>{{ $ml.get('name') }}:
          <input name="title" type="text" :data-vv-as="$ml.get('name')" maxlength="50" v-validate="'required|alpha_spaces|min:3|max:50'" class="form-control" />
          <span class="text-error animated fadeIn" v-show="errors.has('title')">{{ errors.first('title') }}</span>
        </label>
        <label>{{ $ml.get('ChooseSize') }}:
          <input name="width" :data-vv-as="$ml.get('width')" type="number" class="form-control" min="10" value="0" v-validate="'required|numeric|min_value:10|max_value:100'" />cm x
          <input name="height" :data-vv-as="$ml.get('height')" type="number" min="10" class="form-control" v-validate="'required|numeric|min_value:10|max_value:100'" value="0"/>cm
          <span class="text-error animated fadeIn" v-show="errors.has('width')">{{ errors.first('width') }}</span>
          <span class="text-error animated fadeIn" v-show="errors.has('height')">{{ errors.first('height') }}</span>
        </label>
        <label>{{ $ml.get('ChooseBase') }}:
          <input name="base" type="hidden" v-model="baseChosen" maxlength="50" class="form-control" />
          <ImageList :data="baseArray"  @chosen="baseChosen = $event.id" />
        </label>
        <label>{{ $ml.get('uploadTemplate') }}:
          <input name="template" type="hidden" v-model="imageChosen" class="form-control" />
          <image-upload :width="20" :height="10" @updated="imageChosen = $event" />
        </label>
      </form>
    </Prompt>

</template>

<script>
import Prompt from './utils/Prompt'
import ImageList from './utils/ImageList'
import Modal from './utils/Modal'
import imageUpload from './utils/imageUpload'

export default {
  name: 'App',
  data: function () {
    return {
      baseArray: [
        { id: 'black', src: '/static/images/Base/black.jpg', title: this.$ml.get('baseBlack') },
        { id: 'cherry', src: '/static/images/Base/cherry.jpg', title: this.$ml.get('baseCherry') },
        { id: 'limba--chocolate', src: '/static/images/Base/limba--chocolate.jpg', title: this.$ml.get('baseLimbaCoco') },
        { id: 'oak--antic', src: '/static/images/Base/oak--antic.jpg', title: this.$ml.get('baseOakAntic') },
        { id: 'pine', src: '/static/images/Base/pine.jpg', title: this.$ml.get('basePineWood') },
        { id: 'oak--sonoma', src: '/static/images/Base/oak--sonoma.jpg', title: this.$ml.get('baseOakSonoma') },
        { id: 'rigoletto', src: '/static/images/Base/rigoletto.jpg', title: this.$ml.get('baseRigoletto') },
        { id: 'wenge', src: '/static/images/Base/wenge.jpg', title: this.$ml.get('baseWenge') },
        { id: 'white', src: '/static/images/Base/white.jpg', title: this.$ml.get('baseWhite') }
      ],
      baseChosen: '',
      imageChosen: '',
      errorModal: false
    }
  },
  methods: {

    /*********** NEW PROJECT *************/

    newProject (fields) {
      this.$validator.validate().then(result => {
        if (!result) {
          this.errorModal = true
        } else {
          let editorOptions = {
            title: fields.find(item => item.name === 'title').value,
            width: parseInt(fields.find(item => item.name === 'width').value),
            height: parseInt(fields.find(item => item.name === 'height').value),
            base: fields.find(item => item.name === 'base').value,
            template: fields.find(item => item.name === 'template').value
          }

          this.$emit('close')
          this.$emit('formReady', editorOptions)
        }
      })
    }
  },
  components: {
    Prompt, ImageList, Modal, imageUpload
  }
}
</script>
