<template>
  <section :class="'animated fadeInRight notification ' + type">
    <p><span :class="icon" /> {{ title }} </p>
  </section>
</template>

<script>
export default {
  name: 'Editor',
  props: {
    title: {
      type: String,
      required: true
    },
    type: {
      type: String,
      required: true
    },
    icon: {
      type: String,
      required: true
    }
  },
  data () {
    return {

    }
  },
  created: function () {

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

@import '@/assets/sass/_variables.scss';

.notification {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background: #888;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  min-width: 300px;
}

.notification.success {
  background: #55efc4;
  border-left: 4px solid #00b894;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #00b894;
}

.notification.error {
  background: #ff7675;
  color: #d63031;
  border-left: 4px solid #d63031;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

</style>
