<template>
  <aside ref="sidebar" class="animated fadeInLeft">

      <div class="aside__title">
        KOA: String art designer
        <a @click="toggleMenu" class="icon-menu"></a>
      </div>

      <section class="logo animated fadeIn">
        <img class="animated wobble-vertical" src="/static/neddle.png" alt="logo">
        <h1>SAD 1.0<span>by KindOfArt.pl</span></h1>
      </section>

      <nav class="aside__nav">
        <ul>
          <li :key="index" v-for="(link, index) in menu" @click="link.callback"><a :class="(link.active) ? 'aside__nav__link active' : 'aside__nav__link'"><span :class="'icon-' + link.icon" /> {{ link.text }}</a></li>
        </ul>
      </nav>

  </aside>
</template>

<script>
export default {
  name: 'Editor',
  props: {
    menu: Array
  },
  data () {
    return {

    }
  },
  methods: {

    /****** toggle menu ********/
    toggleMenu () {
      this.$refs.sidebar.classList.toggle('short')
    },

    /****** hide menu ********/
    hideMenu () {
      this.$refs.sidebar.classList.add('short')
    }

  },
  created: function () {
    if (this.menu.length) this.menu[0].active = true
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

@import '@/assets/sass/_variables.scss';

/* ASIDE */

aside {
  width: 100%;
  max-width: 14rem;
  height: 100vh;
  background: $firstColor;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  position: absolute;
  transition: .2s;
  z-index: 3;
}

.aside__title {
  padding: 0.5rem 1rem;
  font-size: 0.6rem;
  box-shadow: 0 0 1px rgba(0,0,0,0.7);
}

.aside__title .icon-menu {
  float: right;
  cursor: pointer;
}

.aside__nav__link {
  display: block;
  padding: 1rem;
  transition: .3s;
  cursor: pointer;
}

.aside__nav__link.active {
  border-left: 4px solid $textColor;
  background: $firstColorActive;
}

.aside__nav__link [class^="icon-"] {
  margin-right: 1rem;
}

.aside__nav__link:hover {
  border-left: 4px solid #fff;
  background: $firstColorHover;
}

aside.short {
  height: 35px;
  overflow: hidden;
}

.logo {
  display: flex;
  font-size: 1.8rem;
  padding: 1rem;
  padding-bottom: 1.5rem;
  flex-grow: 0;
  flex-shrink: 0;
}

.logo img {
  flex: 0;
  align-self: flex-start;
  margin-top: 5px;
}

.logo h1 {
  position: relative;
  margin-left: 1rem;
  font-weight: normal;
}

.logo span {
  font-style: italic;
  font-size: 0.5rem;
  position: absolute;
  right: -1rem;
  bottom: -0.5rem;
}

</style>
