<template>
  <section class="image-list">
    <figure @click="pickImage(image)" :class="(image == chosenImage) ? 'active' : ''" :key="index" v-for="(image, index) in images">
      <img :src="image.src" :alt="image.title" />
      <figcaption v-html="image.title" />
    </figure>
  </section>
</template>

<script>
export default {
  name: 'Prompt',
  props: {
    data: {
      type: Array,
      required: true
    }
  },
  data: function () {
    return {
      images: [],
      chosenImage: {}
    }
  },
  methods: {

    /******* PICK IMAGE ********/

    pickImage (image) {
      this.chosenImage = image
      this.$emit('chosen', image)
    }

  },
  created () {
    this.images = JSON.parse(JSON.stringify(this.data))
    if (this.images.length) this.pickImage(this.images[0])
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

@import '@/assets/sass/_variables.scss';

.image-list {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.image-list figure {
  width: 4rem;
  background: $firstColorActive;
  margin: 0.2rem;
  padding: 0.4rem;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition: .3s;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  opacity: 0.9;
}

.image-list figure.active {
  opacity: 1;
}

.image-list:hover figure:not(:hover) {
  opacity: 0.7;
}

.image-list figure:not(.active) {
  transform: scale(0.9);
  opacity: 0.7;
}

.image-list figure:hover {
  opacity: 1;
}

.image-list figure figcaption {
  font-size: 0.6rem;
}

.image-list figure img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}

</style>
