<template>

    <!-- dropdown -->
    <div @click="toggleList" class="dropdown">
      <span :hidden="itemChosen" v-html="$ml.get('choose')" />
      <img :visible="itemChosen" :src="itemChosen.src" :style="'width: ' + width + ';height: ' + height" :alt="itemChosen.value">
      <ul class="animated fadeInDown" :hidden="!listVisible">
        <li @click="chooseItem(item)" :key="index" v-for="(item, index) in data"><img :src="item.src" :alt="item.value"></li>
      </ul>
    </div>

</template>

<script>
export default {
  props: {
    data: {
      type: Array,
      required: true
    },
    defaultVal: {
      type: String
    },
    width: {
      type: String,
      default: '100%'
    },
    height: {
      type: String,
      default: '100%'
    }
  },
  data: () => {
    return {
      itemChosen: false,
      listVisible: false
    }
  },
  methods: {

    /************** SHOW LIST *************/

    toggleList () {
      this.listVisible = !this.listVisible
    },

    /************* CHOOSE ITEM *************/

    chooseItem (item) {
      this.itemChosen = item
      this.$emit('chosen', item.value)
    }
  },
  created: function () {
    if (this.defaultVal) {
      this.chooseItem(this.data.find(item => item.value === this.defaultVal))
    }
  }
}
</script>

<style scoped lang="scss">

  @import '@/assets/sass/_variables.scss';

  .dropdown ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    background: $firstColor;
    margin: 0.4rem 0;
    padding: 0.2rem 0;
  }

  .dropdown ul li {
    text-align: center;
    cursor: pointer;
    opacity: 0.7;
    padding: 0.2rem 0;
    transition: .2s;
  }

  .dropdown ul li:hover {
    opacity: 1;
  }

  .dropdown ul li img {
    width: 70%;
  }
</style>
