<template>

    <!-- image upload-->
    <div class="image-upload">
      <label :style="'width:' + width +'rem;height:' + height + 'rem'">
        <input type="file" name="file-1" id="file-1" @change="onFileSelected">
        <img v-if="selectedFile.newPath && imageReady" class="image-upload__preview animated fadeIn" :src="selectedFile.newPath">
        <span class="icon icon-camera"></span>
        <span v-if="text" v-html="(this.selectedFile.name) ? this.selectedFile.name : $ml.get('chooseFile')" />
      </label>

    </div>

</template>

<script>

import Modal from './Modal'
import { randomString, currentDate } from './utils.js'
const fs = require('fs')

export default {
  props: {
    width: {
      type: Number,
      default: 20
    },
    height: {
      type: Number,
      default: 20
    },
    maxsize: {
      type: Number,
      default: 25000000
    },
    formats: {
      type: Array,
      default: () => ['image/jpeg', 'image/jpg', 'image/bmp', 'image/png']
    },
    text: {
      type: Boolean,
      default: true
    },
    default: {
      type: String
    }
  },
  data: () => {
    return {
      imageReady: false,
      imageLink: '',
      selectedFile: {},
      oldFile: ''
    }
  },
  methods: {

    /*********** ON FILE SELECTED ************/

    onFileSelected (event) {
      if (!event.target.files[0]) return false

      this.imageReady = false
      this.imageLink = ''
      this.$emit('updated', this.imageLink)

      this.oldFile = this.selectedFile
      if (this.oldFile.newPath && this.oldFile.newPath.length && this.oldFile.newPath !== this.default) this.removeFile(this.oldFile.newPath)

      this.selectedFile = event.target.files[0]
      this.selectedFile.extension = this.selectedFile.name.split('.')[1]

      try {
        let data = fs.readFileSync(this.selectedFile.path, '')
        if (data) {
          if (!this.formats.find(item => item === this.selectedFile.type)) new Modal(this.$ml.get('fileIncorrect'), this.$ml.get('fileIncorrectDesc').replace('{formats}', this.formats.join(', ')), '', this.$ml.get('close'))
          else if (this.selectedFile.size >= this.maxsize) new Modal(this.$ml.get('sizeIncorrect'), this.$ml.get('sizeIncorrectDesc').replace('{size}', Math.floor(this.maxsize / 1000000)), '', this.$ml.get('close'))
          else {
            let filename = randomString(10) + currentDate('plain') + '.' + this.selectedFile.extension
            this.selectedFile.newPath = './static/img/' + filename
            this.imageLink = './static/img/' + filename
            fs.writeFile(this.selectedFile.newPath, data, (err) => {
              if (err) new Modal(this.$ml.get('unknownError'), this.$ml.get('unknownErrorDesc') + err, '', this.$ml.get('close'))
            })

            setTimeout(() => {
              this.imageReady = true
              this.$emit('updated', this.imageLink)
              console.log(this.selectedFile)
            }, 500)
          }
        } else new Modal(this.$ml.get('pathIncorrect'), this.$ml.get('pathIncorrectDesc'), '', this.$ml.get('close'))
      } catch (err) {
        new Modal(this.$ml.get('pathIncorrect'), this.$ml.get('pathIncorrectDesc'), '', this.$ml.get('close'))
      }
    },

    /*********** REMOVE FILE ************/

    removeFile (file) {
      if (file) {
        fs.unlink(file, (err) => {
          console.log(err)
        })
      }
    }

  },
  created: function () {
    if (this.default) {
      this.selectedFile.newPath = this.default
      this.imageReady = true
    }
  }
}
</script>

<style scoped lang="scss">

@import '@/assets/sass/_variables.scss';

/* IMAGE UPLOAD */

.image-upload input {
  display: none;
}

.image-upload label {
  background-color: $firstColorActive;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .2s;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 10px;
  margin: 20px 0;
  position: relative;
}

.image-upload__preview {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  object-fit: cover;
}

.image-upload label:hover {
  opacity: 0.8;
}

.image-upload .icon {
  margin-bottom: 1rem;
}

.image-upload label::after {
  content: "";
}
</style>
