<template>
  <section class="modal animated fadeIn">
    <div class="fog">
      <section class="modal__container animated fadeInDown">

        <!-- header -->
        <header class="modal__header">
          <h1 v-html="title" />
        </header>

        <!-- body -->
        <section class="modal__body">
          <p>
            <slot></slot>
            {{ body }}
          </p>
        </section>

        <!-- footer -->
        <footer class="modal__footer">
          <slot name="footer" />
          <button @click="$emit('close')" class="btn btn-default">{{ (closeText) ? closeText : $ml.get('close') }}</button>
        </footer>

      </section>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Modal',
  props: {
    title: {
      type: String,
      required: true
    },
    body: String,
    closeText: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

@import '@/assets/sass/_variables.scss';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 3;
}

.modal__container {
  background: $firstColor;
  max-width: 25rem;
  width: 100%;
}

.modal__header {
  padding: 1rem;
  background: $firstColorActive;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.modal__header h1 {
  font-weight: normal;
  font-size: 1.2rem;
}

.modal__body {
  padding: 1rem;
}

.modal__footer {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

</style>
