<template>
  <section class="prompt animated fadeIn">
    <div class="fog">
      <section class="prompt__container animated fadeInDown">

        <!-- header -->
        <header class="prompt__header">
          <h1 v-html="title" />
        </header>

        <!-- body -->
        <section class="prompt__body" ref="prompt-body">
          <slot></slot>
          {{ body }}
        </section>

        <!-- footer -->
        <footer class="prompt__footer">
          <button @click="okButton" class="btn btn-primary">{{ (okText) ? okText : $ml.get('ok') }}</button>
          <button @click="cancelButton" class="btn btn-default">{{ (cancelText) ? cancelText : $ml.get('cancel') }}</button>
        </footer>

      </section>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Prompt',
  props: {
    title: {
      type: String,
      required: true
    },
    body: String,
    okText: String,
    cancelText: String
  },
  methods: {

    /* OK BUTTON */
    okButton () {
      let elements = this.$refs['prompt-body'].querySelectorAll('input, select, textarea')
      if (elements.length) {
        let fields = [...elements].map(elem => { return { name: elem.name, value: elem.value } })
        this.$emit('callbackOk', fields)
      }
    },

    /* CANCEL BUTTON */
    cancelButton () {
      this.$emit('exit')
      this.$emit('callbackCancel')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

@import '@/assets/sass/_variables.scss';

.prompt {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 3;
}

.prompt__container {
  background: $firstColor;
  max-width: 25rem;
  width: 100%;
}

.prompt__header {
  padding: 1rem;
  background: $firstColorActive;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.prompt__header h1 {
  font-weight: normal;
}

.prompt__body {
  padding: 1rem;
}

.prompt__footer {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

</style>
