* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;
}

body {
    margin: 0;
    color: $textColor;
    background: $secondColor;
    font-family: 'Source Sans Pro', sans-serif;
}

.fog {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  