.btn {
    margin: 1rem 0rem 1rem 1rem;
    border: none;
    color: $textColor;
    background: none;
    border: 1px solid $textColor;
    outline: none;
    font-size: 1rem;
    font-family: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    border-color: #fff;
    color: #fff;
}

.btn-primary {
    background: $firstColorActive;
}