label {
    display: block;
}

.form-control {
    background: $firstColorActive;
    padding: 0.6rem 0.4rem 0.6rem 0.9rem;
    border: none;
    outline: none;
    color: $textColor;
    font-size: 1rem;
    margin: 0.5rem;
}

[type="number"].form-control {
    max-width: 4rem;
}