<template>
  <div id="app">

    <!-- SIDEBAR -->
    <sidebar ref="sidebar" :menu="mainMenu" />

    <!-- Editor -->
    <div v-if="editorOptions.title">
      <Editor ref="editor" :title="editorOptions.title" :width="editorOptions.width" :height="editorOptions.height" :base="editorOptions.base" :template="editorOptions.template" @update="projectData = $event"/>
    </div>

    <!-- render modal -->
    <modal v-show="renderModal" ref="render-modal" @close="renderModal = false" :title="$ml.get('render')">
      <img style="width: 100%" :src="renderElem" alt="render">
      <template slot="footer">
        <button slot="footer" @click="saveRender" class="btn btn-big" v-text="$ml.get('save')" />
      </template>
    </modal>

    <!-- prompts -->

    <NewProjectPrompt v-if="newProjectPrVisible" @close="newProjectPrVisible = false" @formReady="newProject" />
    <notification v-if="fileSaved" :title="$ml.get('fileSaved')" type="success" icon="icon-floppy" />
    <notification v-if="fileSaveError" :title="$ml.get('fileSaveError')" type="error" icon="icon-floppy" />
    <notification v-if="fileLoadError" :title="$ml.get('fileLoadError')" type="error" icon="icon-download" />
    <notification v-if="fileLoaded" :title="$ml.get('fileLoaded')" type="success" icon="icon-download" />

  </div>
</template>

<script>
import Editor from './components/Editor'
import Sidebar from './components/Sidebar'
import Notification from './components/Notification'
import NewProjectPrompt from './components/NewProjectPrompt'
//import html2canvas from 'html2canvas'
import Modal from './components/utils/Modal'

const {dialog} = require('electron').remote
const fs = require('fs')
const htmlToImage = require('html-to-image')

export default {
  name: 'App',
  data: function () {
    return {
      projectData: {},
      newProjectPrVisible: false,
      editorOptions: { },
      mainMenu: [
        { text: this.$ml.get('newProject'), icon: 'plus', active: false, callback: () => { this.newProjectPrVisible = true } },
        { text: this.$ml.get('load'), icon: 'download', active: false, callback: () => { this.loadFile() } },
        { text: this.$ml.get('save'), icon: 'floppy', active: false, callback: () => { this.saveFile() } },
        { text: this.$ml.get('saveAs'), icon: 'floppy', active: false, callback: () => { this.saveFileAs() } },
        { text: this.$ml.get('render'), icon: 'picture', active: false, callback: () => { this.renderImage() } },
        { text: this.$ml.get('exit'), icon: 'cancel', active: false, callback: () => { window.close() } }
      ],
      fileSaved: false,
      fileSaveError: false,
      fileLoaded: false,
      fileLoadError: false,
      savePath: '',
      renderModal: false,
      renderElem: '',
      renderBlob: ''
    }
  },
  methods: {
    newProject (event) {
      this.editorOptions = event
      this.$refs.sidebar.hideMenu()
    },

    saveFileAs () {
      if (this.editorOptions.title) {
        let path = dialog.showSaveDialog({ defaultPath: this.editorOptions.title + '.dat', properties: ['openFile', 'promptToCreate'] })
        if (path) {
          this.savePath = path
          this.saveFile()
        }
      }
    },

    saveFile () {
      if (this.editorOptions.title) {
        if (this.savePath) {
          let data = JSON.stringify(this.projectData)
          fs.writeFile(this.savePath, data, (err) => {
            if (err) {
              this.fileSaveError = true
              setTimeout(() => { this.fileSaveError = false }, 3000)
            } else {
              this.fileSaved = true
              setTimeout(() => { this.fileSaved = false }, 3000)
            }
          })
        } else this.saveFileAs()
      }
    },

    saveRender () {
      if (this.editorOptions.title) {
        let path = dialog.showSaveDialog({ defaultPath: this.editorOptions.title + '.png', properties: ['openFile', 'promptToCreate'] })
        if (path) {
          const base64Data = this.renderElem.replace(/^data:image\/png;base64,/, '')
          fs.writeFile(path, base64Data, 'base64', (err) => {
            if (err) {
              this.fileSaveError = true
              setTimeout(() => { this.fileSaveError = false }, 3000)
            } else {
              this.fileSaved = true
              setTimeout(() => { this.fileSaved = false }, 3000)
            }
          })
        }
      }
    },

    loadFile () {
      let path = dialog.showOpenDialog({ defaultPath: this.editorOptions.title + '.dat', properties: ['openFile', 'promptToCreate'] })
      if (path) {
        fs.readFile(path[0], 'utf-8', (err, data) => {
          if (err) {
            this.fileLoadError = true
            setTimeout(() => { this.fileLoadError = false }, 3000)
          } else {
            data = this.validateJSON(data)
            if (data) {
              this.editorOptions = data
              this.fileLoaded = true
              setTimeout(() => { this.$refs.editor.refreshItems(data) }, 100)
              setTimeout(() => { this.fileLoaded = false }, 3000)
            } else {
              this.fileLoadError = true
              setTimeout(() => { this.fileLoadError = false }, 3000)
            }
          }
        })
      }
    },

    renderImage () {
      if (this.editorOptions.title) {
        let temp = this.editorOptions.template
        this.editorOptions.template = ''
        setTimeout(() => {
          htmlToImage.toPng(this.$refs.editor.$refs['editor-base'], { quality: 1 })
            .then((dataUrl) => {
              this.renderElem = dataUrl
              this.renderModal = true
              this.editorOptions.template = temp
            })
        }, 10)
      }
    },

    validateJSON (body) {
      try {
        let data = JSON.parse(body)
        return data
      } catch (e) {
        return null
      }
    }
  },
  created () {
    window.addEventListener('keydown', (e) => {
      if (e.keyCode === 83 && e.ctrlKey) this.saveFile()
    })
  },
  components: {
    Editor, Sidebar, NewProjectPrompt, Notification, Modal
  }
}
</script>
